<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
<!-- Observer to list all available routes -->
    <event name="controller_front_send_response_before">
        <observer name="routeListObserver" instance="Harit\US4\Observer\RouteListObserver"/>
    </event>
</config>
